# Development files
.vscode/**
node_modules/**
src/**
.git/**
.github/**
*.ts
!*.d.ts
tsconfig.json
.eslintrc.json

# Test files
out/test/**

# Logs and temporary files
*.log
*.tmp

# OS metadata
.DS_Store
Thumbs.db

# Exclude unnecessary files from the extension package
**/*.map
**/*.ts 